@using Iluminacao.LojaVirtual.Web.HtmlHelpers
@model Iluminacao.LojaVirtual.Web.Models.ProdutosViewModel


@foreach (var p in Model.Produtos)
{
   @Html.Partial("ProdutosDetalhes",p)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.Paginacao, x => Url.Action("ListaProdutos", new { pagina = x }))
</div>

